.banner {
    padding-top: 195px;
    padding-bottom: 86px;
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-content {
        position: relative;
        & span {
            color: #170C0B;
            text-shadow: 3px 3px 0px #000;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000;
            font-family: $font-2;
            font-size: 50px;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 2.5px;
            margin-bottom: 2px;
            background: -webkit-linear-gradient($stroke-gradient);
            -webkit-background-clip: text;
            -webkit-text-stroke: 4px transparent;
            @include xxl {
                font-size: 42px;
            }
            @include xl {
                font-size: 38px;
            }
            @include lg {
                font-size: 32px;
            }
            @include mmd {
                font-size: 28px;
            }
        }
        & h1 {
            text-shadow: 13px 13px 0px #000;
            font-size: 170px;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 8.5px;
            margin-bottom: 30px;
            background: -webkit-linear-gradient($stroke-gradient);
            -webkit-background-clip: text;
            -webkit-text-stroke: 8px transparent;
            color: $heading;
            @include xxl {
                font-size: 130px;
            }
            @include xl {
                font-size: 100px;
                margin-bottom: 24px;
            }
            @include lg {
                font-size: 80px;
                margin-bottom: 18px;
                text-shadow: 8px 8px 0px #000;
                letter-spacing: 7px;
            }
            @include mmd {
                font-size: 50px;
                margin-bottom: 16px;
            }
        }
        & p {
            font-size: 22px;
            font-weight: 500;
            line-height: 170%;
            letter-spacing: 1.32px;
            margin-bottom: 55px;
            max-width: 654px;
            @include xl {
                margin-bottom: 42px;
            }
            @include lg {
                margin: 0 auto;
                margin-bottom: 35px;
            }
            @include mmd {
                margin: 0 auto;
                margin-bottom: 28px;
            }
        }
        & .btn {
            margin-bottom: 60px;
            @include xl {
                margin-bottom: 50px;
            }
            @include lg {
                margin-bottom: 40px;
            }
            @include mmd {
                margin-bottom: 32px;
            }
        }
        & img {
            position: absolute;
            bottom: -250px;
            right: 0;
            @include xxl {
                bottom: -215px;
                right: 40px;
                max-width: 300px;
            }
            @include xl {
                bottom: -215px;
                right: -50px;
                max-width: 200px;
            }
            @include lg {
                position: unset;
                margin: 30px 0;
            }
        }
    }
    &-card {
        max-width: 577px;
        padding: 47px 48px;
        font-family: $font-2;
        background-image: url(../img/banner-card-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        & h4 {
            color: $text;
            margin-bottom: 27px;
            font-weight: 700;
        }
        & .f-18 {
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 1.62px;
        }
        & .f-16 {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 1.44px;
        }
        & .date {
            padding: 18px 27px;
            border-radius: 18.523px;
            background: var(--bbb, linear-gradient($bg-gradient));
            gap: 50px;
            margin-bottom: 18px;
            & .unit {
                color: $white;
                font-size: 18px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 1.62px;
                margin-bottom: 4px;
            }
            & .time {
                color: $white;
                font-size: 32px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 2.88px;
            }
        }
        & .line {
            max-width: 414px;
            height: 14px;
            background: $black;
            border-radius: 50px;
            margin-bottom: 18px;
            position: relative;
            & span {
                position: absolute;
                top: 0;
                left: 0;
                width: 93.23%;
                height: 100%;
                background-image: linear-gradient($bg-gradient);
                border-radius: 50px;
            }
        }
        & .llama {
            gap: 12px;
            margin-bottom: 28px;
            margin-top: 23px;
            position: relative;
            &::after {
                position: absolute;
                top: 50%;
                left: 0px;
                width: 92px;
                height: 1px;
                content: '';
                background: linear-gradient(to left, $gradient);
            }
            &::before {
                position: absolute;
                top: 50%;
                right: 0px;
                width: 92px;
                height: 1px;
                content: '';
                background: linear-gradient(to right, $gradient);
            }
            & span {
                line-height: 120%;
                letter-spacing: 4.16px;
            }
        }
        & .Btn {
            & button,
            .input-box {
                padding: 0;
                border-radius: 46px;
                border: double 1px transparent;
                background-image: linear-gradient($bg-gradient), linear-gradient(to left, $gradient);
                background-origin: border-box;
                background-clip: content-box, border-box;
                & .inner {
                    padding: 13px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 0.9px;
                }
            }
            & .input-box {
                position: relative;
                width: calc(50% - 16px);
                & img {
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
            & input {
                padding: 17px 13px;
                color: $black;
                border-radius: 46px;
                border: 0;
                background: transparent;
            }
        }
        & .paymentBtn {
            gap: 38px;
            margin-bottom: 28px;
            & button {
                & .inner {
                    gap: 28px;
                }
            }
        }
        & .cardBtn {
            gap: 32px;
            margin-bottom: 36px;
            & button {
                margin-bottom: 5px;
                width: 224px;
            }
        }
        & .pl {
            display: flex;
            justify-content: space-between;
            margin-bottom: 11px;
            & p {
                font-size: 14.818px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 3.705px;
            }
        }
        & .lastP {
            max-width: 338px;
            font-size: 16.67px;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 1.5px;
        }
    }
}