@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.logo {
    cursor: pointer;
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: trans;
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 30px;
    @include md {
        --bs-navbar-padding-y: 24px;
    }
    @include sm {
        --bs-navbar-padding-y: 20px;
    }
    &.position-fixed {
        animation: headerAnimation .5s linear;
        --bs-navbar-padding-y: 24px;
        @include md {
            --bs-navbar-padding-y: 20px;
        }
        @include sm {
            --bs-navbar-padding-y: 1rem;
        }
    }
    &-wrap {
        border-radius: 10px;
        padding: 18px 24px;
        @include mmd {
            padding: 10px 16px;
        }
        & ul {
            gap: 40px;
            @include lg {
                gap: 16px;
            }
        }
    }
    &-menu {
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $black, $alpha: .90);
            padding: 24px;
            z-index: 9;
            transform: translateY(150%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
        & .heading-actions {
            @include mmd {
                margin-top: 32px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @include sm {
                margin-top: 26px;
            }
        }
    }
    &-link {
        font-size: 18px;
        line-height: 140%;
        color: $black !important;
        font-weight: 400;
        font-family: $font-1;
        display: block;
        padding: 10px 1rem;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #000;
        box-shadow: 2px 2px 0px 0px #000;
        @include lg {
            padding: 10px 12px;
        }
        @include mmd {
            color: $heading;
            text-align: center;
            margin-bottom: 10px;
        }
        &:hover,
        &.active {
            box-shadow: 0 0 0;
        }
    }
    &-toggler {
        --btn-padding-x: 4px;
        --btn-padding-y: 5px;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border: none;
        background-color: transparent;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        & svg {
            width: 40px;
            height: 40px;
        }
    }
}