.roadmap {
    padding-top: 215px;
    padding-bottom: 138px;
    background-image: url(../img/roadmap-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include xl {
        padding-top: 160px;
    }
    @include lg {
        padding-top: 120px;
    }
    @include mmd {
        padding-top: 90px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h2 {
            margin-bottom: 25px;
        }
        & P {
            margin-bottom: 20px;
            @include font-24;
            font-weight: 500;
            line-height: 170%;
            letter-spacing: 0.48px;
        }
        & img {
            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 589px;
            @include xl {
                max-width: 100%;
            }
            @include lg {
                max-width: 100%;
            }
            @include mmd {
                max-width: 100%;
            }
        }
        & .btn {
            width: max-content;
        }
    }
    &-card {
        padding: 27px 0;
        @include xxxl {
            --pl: 110px;
            padding-left: var(--pl);
        }
        @include xxl {
            --pl: 70px;
            padding-left: var(--pl);
        }
        @include xl {
            margin-left: auto;
        }
        position: relative;
        & .line {
            height: 100%;
            width: 7px;
            background-image: linear-gradient(to bottom, $gradient);
            position: absolute;
            top: 0;
            left: var(--pl);
            border-radius: 50px;
            @include xl {
                left: 13%;
            }
            @include lg {
                left: 0;
            }
            @include mmd {
                left: 11.9%;
            }
        }
        &-single {
            border-radius: 10px;
            border: double 1px transparent;
            background-image: linear-gradient( to right, #E57360, #F5B667), linear-gradient(100deg, $gradient);
            background-origin: border-box;
            background-clip: content-box, border-box;
            max-width: 561px;
            margin-left: 56px;
            position: relative;
            @include xl {
                max-width: 420px;
                margin-left: auto;
            }
            @include lg {
                max-width: 380px;
            }
            @include mmd {
                margin-left: auto;
                margin-right: auto;
                max-width: 420px;
            }
            & .listStyle {
                position: absolute;
                left: -57px;
                top: 50%;
                transform: translate(0, -50%);
            }
            & p {
                @include font-24;
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            & .inner {
                padding: 25px 30px;
                @include lg {
                    padding: 20px;
                }
                @include lg {
                    padding: 20px;
                }
            }
            & ul {
                & li {
                    display: flex;
                    gap: 4.5px;
                    @include font-18;
                    line-height: 150%;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                    & img {
                        flex: 0 0 auto;
                    }
                }
            }
        }
    }
}